.link {
    color: blue; /* Set the color you want */
    cursor: pointer;
    text-decoration: underline; /* Add underline to mimic a link */
  }
  
  .link:hover {
    color: darkblue; /* Change color on hover */
  }
  
  
  .myy{
    padding-left:  0px !important;
  }